<a href="{% url 'manager_dash' %}">الصفحة الرئيسية</a>
<a href="{% url 'manager_collections' %}">ادارة المنتجات</a>
<a href="{% url 'billing_home' %}">ادارة الفواتير</a>
<a href="{% url 'ledger:volt_home' %}" data-hardnav="1">إدارة الخزنة</a>  {# ← add this attr #}
<a class="btn-sec" href="{% url 'products_import' %}">استيراد من إكسل</a>
<a class="btn-soft" href="{% url 'products_export' %}">تصدير Excel/ODS</a>
<a href="{% url 'stock:stock_list' %}">إدارة المخزون</a>
<a href="{% url 'pos:pos_manager_overview' %}">POS</a>
